
  <div class="columnleft">
    <mat-card class="user-profile">
      <mat-card-title>User Profile</mat-card-title>
      <mat-card-content>
        <form class="user-form data-form" (ngSubmit)="onSubmit(userProfile)" #userProfile="ngForm">

          <mat-error *ngIf="firstName.errors?.required">
            First name is required
          </mat-error>

          <mat-error *ngIf="firstName.errors?.minlength">
            First name must be at least 6 characters
          </mat-error>

          <mat-form-field appearance="outline">
            <input matInput 
            type="text" 
            name="firstName" 
            [(ngModel)]="val.firstName"
            placeholder="First Name"
            required
            minlength="6"
            #firstName="ngModel" />
          </mat-form-field>

          <mat-error *ngIf="lastName.errors?.minlength">
            Last name must be at least 6 characters
          </mat-error>
          
          <mat-error *ngIf="lastName.errors?.required">
            Last name is required
          </mat-error>
    
          <mat-form-field appearance="outline">
            <input matInput 
            type="text" 
            name="lastName" 
            [(ngModel)]="val.lastName"
            placeholder="Last Name"
            required
            minlength="6"
            #lastName="ngModel" />
          </mat-form-field>
    
          <mat-error *ngIf="phoneNumber.errors?.required">
            Phone number is required
          </mat-error>

          <mat-error *ngIf="phoneNumber.errors?.minlength">
            Phone number must have 11 digits
          </mat-error>

          <mat-form-field appearance="outline">
            <input matInput 
            type="text" 
            name="phoneNumber"
            [(ngModel)]="val.phoneNumber" 
            placeholder="Phone Number"
            required
            minlength="11"
            #phoneNumber="ngModel" />
          </mat-form-field>
    
          <mat-error *ngIf="username.errors?.required">
            Username is required
          </mat-error>
  
          <mat-error *ngIf="username.errors?.minlength">
            Username must be at least 6 characters
          </mat-error>
  
          <mat-form-field appearance="outline">
            <input matInput 
            type="text" 
            name="username"
            [(ngModel)]="val.username" 
            placeholder="Username"
            required
            minlength="6"
            #username="ngModel" />
          </mat-form-field>
    
          <mat-error *ngIf="password.errors?.required">
            Password is required
          </mat-error>
    
          <mat-error *ngIf="password.errors?.minlength">
            Password must be atleast 6 characters
          </mat-error>
    
          <mat-form-field appearance="outline">
            <input matInput 
            type="password" 
            name="password"
            [(ngModel)]="val.password"
            placeholder="Password"
            required
            minlength="6"
            #password="ngModel" />
          </mat-form-field>
          <button mat-raised-button color="warn" [disabled]="!userProfile.valid" (click)="toggleDisplay()">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>  
  </div>
  
  <div class="columnright">
    <div *ngIf="isDisplay" class="display">
      <mat-card class="display" style="background-color: rgb(158, 218, 228);">
        <mat-card-title  style="font-family: 'Courier New', Courier, monospace;">
          User Profile
          <mat-card-content>
            <br>
            <mat-card-subtitle>
              First Name
            </mat-card-subtitle>
            {{ val.firstName }}
            <br><br>
            <mat-card-subtitle>
              Last Name
            </mat-card-subtitle>
            {{ val.lastName }}
            <br><br>
            <mat-card-subtitle>
              Phone Number
            </mat-card-subtitle>
            {{ val.phoneNumber }}
            <br><br>
            <mat-card-subtitle>
              Username
            </mat-card-subtitle>
            {{ val.username }}
            <br><br>
            <mat-card-subtitle>
              Password
            </mat-card-subtitle>
            {{ pass }}
            <br>
          </mat-card-content>
        </mat-card-title>
      </mat-card>
    </div>
  </div>
  
    
