.columnleft{
  float: left;
  width: 50%;
  height: 50%;

}

.columnright {
  float: right;
  width: 50%;
  height: 50%;
  
}

.user-profile {
  max-width: 350px;
  margin: 50px;
  font-family: monospace;
  background-color: rgb(203, 246, 253);
}

.user-form {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.form-val {
  margin-top: 10px;
}

.display {
  max-width: 450px;
  margin: 50px;
}
